* {
  margin: 0 auto;
  background-color: #222222 ;
}

body {
  text-align: center;
  color: #EEE5E9;

}

.icon {
  width: 40px;
  float: left;
  margin: 25px;
}

.header_logo {
width: 100%;
}
.splash_nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 85%;
}

.nav_tile {
  width: 350px;
  margin: 10px;
  border-radius: 10%;
  border: 1px solid #EEE5E9;
}

.nav_tile:hover {
  filter: brightness(130%);
  -webkit-box-shadow:0px 0px 29px 0px rgba(153,247,170,0.7);
  -moz-box-shadow: 0px 0px 29px 0px rgba(153,247,170,0.7);
  box-shadow: 0px 0px 29px 0px rgba(153,247,170,0.7);
}

.skills_container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 85%;
}

.skill_list {
  text-align: left;
}