* {
  margin: 0 auto;

}

body {
  text-align: center;
  color: #EEE5E9;
  background-color: #222222 ;
}

.icon {
  width: 40px;
  float: left;
  margin: 20px;
}

.header_logo {
width: 100%;
}
.splash_nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 85%;
}

.nav_tile {
  width: 350px;
  margin: 10px;
  border-radius: 10%;
  border: 1px solid #EEE5E9;
}

.nav_tile:hover {
  filter: brightness(130%);
  -webkit-box-shadow:0px 0px 29px 0px rgba(153,247,170,0.7);
  -moz-box-shadow: 0px 0px 29px 0px rgba(153,247,170,0.7);
  box-shadow: 0px 0px 29px 0px rgba(153,247,170,0.7);
}

.page_content {
  background-color: #EEE5E9;
  color: #222222;
  width: 65%;
  margin-top: 20px;
  border-radius: 20px;
}

.page_content_header {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 48px;
  padding: 15px;
  color: #73009d;
  width: 80%;
}

.page_content_subheader {
  width: 80%;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 36px;
  text-align: left;
  padding: 10px;
  color: #73009d;
}

.page_content_body {
  width: 75%;
  text-align: left;
  margin-bottom: 20px;
  font-family: 'Libre Baskerville', serif;
}

.family_photo {
  width: 50%;
  background-color: transparent;
}

.project_image {
  width: 60%;
}





.skills_container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 85%;
}

.small_logo {
  width: 60px;
  padding: 20px;
}
.sk
ill_list {
  text-align: left;
  font-family: 'Libre Baskerville', serif;
  padding-bottom: 15px;
  padding-top: 15px;
}

.skill_header {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  padding-bottom: 10px;
  color: #73009d;
}

.skill {
  padding-bottom: 8px;
}

.icon2 {
  width: 100px;
  padding-bottom: 20px;
}

.contact_card {
  background-color: #EEE5E9;
  color: #222222;
  width: 65%;
  margin-top: 20px;
  border-radius: 20px;
}

form {
  margin: 30px
}

.socials_container {
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 15px;
}

.social_icon {
  width: 90px;
  padding: 15px;
}










.carousel {
  width: 85%;
}

@keyframes display {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  10% {
    transform: translateX(0);
    opacity: 1;
  }
  20% {
    transform: translateX(0);
    opacity: 1;
  }
  30% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(-200px);
    opacity: 0;
  }
}

.carousel {
  position: relative;
}

.carousel > .project_image {
  position: absolute;
  opacity: 0;
  animation: display 10s infinite;
}

.project_image:nth-child(2) {
  animation-delay: 2s;
}
.project_image:nth-child(3) {
  animation-delay: 4s;
}
.project_image:nth-child(4) {
  animation-delay: 6s;
}
.project_image:nth-child(5) {
  animation-delay: 8s;
}
.project_image:nth-child(6) {
  animation-delay: 10s;
}
.project_image:nth-child(7) {
  animation-delay: 12s;
}