* {
  margin: 0 auto;
}

body {
  text-align: center;
  color: #EEE5E9;
  background-color: #222222;
}

.tooltip {
  display:inline-block;
  position:relative;
  text-align:left;
}

.tooltip .top {
  min-width:200px; 
  top:-20px;
  left:50%;
  transform:translate(-50%, -100%);
  padding:10px 20px;
  color:#EEE5E9;
  font-family: 'Raleway', sans-serif;
  line-height: 120%;
  background-color:#222222;
  font-weight:normal;
  font-size:16px;
  border-radius:8px;
  position:absolute;
  z-index:99999999;
  box-sizing:border-box;
  box-shadow:0 1px 8px rgba(0,0,0,0.5);
  visibility:hidden; opacity:0; transition:opacity 0.8s;
}

.tooltip:hover .top {
  visibility:visible; opacity:1;
}

.tooltip .top i {
  position:absolute;
  top:100%;
  left:50%;
  margin-left:-12px;
  width:24px;
  height:12px;
  overflow:hidden;
}

.tooltip .top i::after {
  content:'';
  position:absolute;
  width:12px;
  height:12px;
  left:50%;
  transform:translate(-50%,-50%) rotate(45deg);
  background-color:#222222;
  box-shadow:0 1px 8px rgba(0,0,0,0.5);
}

.icon {
  width: 25px;
  float: left;
  margin: 10px -15px 0px 10px;
}

.splash_header_logo {
  width: 100%;
}

.header_logo {
width: 40%;
margin-left: -30px;
}

.splash_nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 95%;
}

.nav_tile {
  width: 325px;
  margin: 10px;
  border-radius: 10%;
  border: 1px solid #EEE5E9;
}

.nav_tile:hover {
  filter: brightness(130%);
  -webkit-box-shadow:0px 0px 29px 0px rgba(153,247,170,0.7);
  -moz-box-shadow: 0px 0px 29px 0px rgba(153,247,170,0.7);
  box-shadow: 0px 0px 29px 0px rgba(153,247,170,0.7);
}

.space {
  color: transparent;
  font-size: 50px;
}

.page_content {
  background-color: #EEE5E9;
  color: #222222;
  width: 65%;
  margin-top: 40px;
  border-radius: 20px;
  margin-bottom: 60px;
}

.page_content_header {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 48px;
  padding: 10px;
  color: #99F7AB;
  width: fit-content;
  margin: 0 auto;
  background-color: #222222;
  border-top: 45px solid #EEE5E9;
  border-bottom: 30px solid #EEE5E9;
}

.page_content_subheader {
  width: 80%;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 36px;
  text-align: left;
  padding: 10px;
  color: #73009d;
}

.contact_header {
  font-family: 'Libre Baskerville', serif;
  font-size: 22px;
  font-style: italic;
  padding: 15px;
  color: #222222;
}

.page_content_body {
  width: 75%;
  text-align: left;
  margin-bottom: 20px;
  font-family: 'Libre Baskerville', serif;
}

.services_content_body {
  width: 75%;
  text-align: left;
  padding-bottom: 30px;
  font-family: 'Libre Baskerville', serif;
}

.services_content_subheader {
  width: 80%;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 36px;
  text-align: left;
  padding: 10px;
  color: #73009d;
}

.family_photo {
  width: 50%;
  background-color: transparent;
}

.skills_container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 85%;
}

.small_logo {
  width: 50px;
  padding: 20px;
}

.skill_list {
  text-align: left;
  font-family: 'Libre Baskerville', serif;
  padding-bottom: 15px;
  padding-top: 15px;
}

.skill_header {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  padding-bottom: 10px;
  color: #73009d;
  text-decoration: underline;
}

.skill {
  padding-bottom: 8px;
  font-size: 12px;
}

.icon2 {
  width: 50px;
  margin-left: -10px ;
  margin-top: 5px;
}

.contact_card {
  background-color: #EEE5E9;
  color: #222222;
  width: 65%;
  margin-top: 20px;
  border-radius: 20px;
}

form {
  margin: 30px
}

.socials_container {
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  border-top: 1px solid #222222;
  margin-top: 25px;
}

.social_icon {
  width: 90px;
  padding: 15px;
}

.footer {
  height:50px;
  width: 65%;  
  text-align:center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  bottom: 0;
  left: 0;
  border-top: 1px solid #EEE5E9;
  margin-top: 75px;
}


@media only screen and (max-width: 580px){
  * {
    width: 100%;
  }
  
  .icon {
    width: 18px;
    margin-left: 15px;
    margin-right: -33px;
  }
  
  .header_logo {
  width: 75%;
  margin: 0 auto;
  }
  
  .splash_nav {
    display: flex;
    flex-direction: column;
    width: 95%;
  }
  
  .nav_tile {
    width: 65%;
    margin-bottom: 30px;
  }
  
  .page_content {
    width: 95%;
    font-size: 12px;
    margin: 0 auto;
    margin-top: 30px;
  }
  
  .page_content_header {
    font-size: 24px;
    width: 75%;
    border-top: 10px solid #EEE5E9;
    border-bottom: 10px solid #EEE5E9;
  }
  
  .page_content_subheader {
    width: 95%;
    font-size: 18px;
    text-align: left;
    padding: 10px;
  }
  
  .contact_header {
    font-size: 16px;
    padding: 1px;
  }
  
  .page_content_body {
    width: 85%;
    margin-bottom: 10px;
  }

  .services_content_body {
    width: 80%;
    text-align: left;
  }
  
  .family_photo {
    width: 80%;
    margin-top: -40px;
  }
  
  .carousel {
    padding: 5px;
  }
  
  .skills_container {
    width: 90%;
    display: inline-block;
    margin: 0 auto;
  }

  .skill_list {
    margin-left: 25px;
  }
  
  .small_logo {
    padding: 10px;
  }
  
  .icon2 {
    width: 40px;
    margin-left: -5px ;
  }

  .contact_card {
    background-color: #EEE5E9;
    color: #222222;
    width: 95%;
    margin-top: 20px;
    border-radius: 20px;
  }
  
  form {
    margin: 5px
  }
  
  .socials_container {
    width: 95%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  
  .social_icon {
    width: 60px;
    padding: 1px;
  }

  .footer {
    font-size: 10px;
    border-top: none;
  }

}