.slide {
  width: 95%;
  margin: 10px auto 0 auto;
  border-radius:12px;
  -webkit-border-radius:12px;
  -moz-border-radius:12px;
  box-shadow: 10px 10px 11px -8px rgba(0,0,0,0.52);
  -webkit-box-shadow: 10px 10px 11px -8px rgba(0,0,0,0.52);
  -moz-box-shadow: 10px 10px 11px -8px rgba(0,0,0,0.52);
}

.slideshow {
  width: 85%;
  padding: 10px;
  background-color: #222222;
  border-radius:12px;
  -webkit-border-radius:12px;
  -moz-border-radius:12px;
  box-shadow: 10px 10px 11px -8px rgba(0,0,0,0.52);
  -webkit-box-shadow: 10px 10px 11px -8px rgba(0,0,0,0.52);
  -moz-box-shadow: 10px 10px 11px -8px rgba(0,0,0,0.52);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap ;
  justify-content: space-evenly;
}

.slide_title {
  color: #99F7AB;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 28px;
}

.slide_subtitle {
  color: #E5E6E7;
  font-family: 'Libre Baskerville', serif;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 0;
  margin-top: 2px;
}

.project_annotation {
  color: #E5E6E7;
  font-family: 'Libre Baskerville', serif;
  font-style: italic;
  font-size: 14px;
}

.slide_container {
  width: 40%;
  margin: 10px;
  border: 1px solid #E5E6E7;
  background-color: #2d2d2d;
  border-radius: 16px;
  padding: 5px;
}

a {
  text-decoration: none;
  width: fit-content;
}

.slide_container:hover {
  filter: brightness(120%);
  z-index: 9;
  transform: translateY(-7px);
  -webkit-box-shadow:0px 0px 29px 0px rgba(153,247,170,0.7);
  -moz-box-shadow: 0px 0px 29px 0px rgba(153,247,170,0.7);
  box-shadow: 0px 0px 29px 0px rgba(153,247,170,0.7);
}

@media only screen and (max-width: 580px){
  .slide {
    width: 95%;
    margin: 10px auto 0 auto;
    border: 1px solid #222222;
    border-radius:12px;
    -webkit-border-radius:12px;
    -moz-border-radius:12px;
    box-shadow: 10px 10px 11px -8px rgba(0,0,0,0.52);
    -webkit-box-shadow: 10px 10px 11px -8px rgba(0,0,0,0.52);
    -moz-box-shadow: 10px 10px 11px -8px rgba(0,0,0,0.52);
  }
  
  .slideshow {
    width: 95%;
    padding: 0px;
    flex-direction: column;
    align-content: center;
  }
  
  .slide_title {
    font-size: 22px;
  }
  
  .slide_subtitle {
    font-size: 12px;
  }
  
  .project_annotation {
    font-size: 12px;
  }
  
  .slide_container {
    width: 80%;
    margin: 10px;
    border-bottom: 1px solid #E5E6E7;
    border-right: 1px solid #E5E6E7;
    border-radius: 16px;
    padding: 5px;
  }
  
}